APScheduler==3.10.4
attrs==23.1.0
Authlib==1.2.1
awscli==1.22.34
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.33.12
botocore==1.33.12
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudflare==2.14.2
colorama==0.4.4
cryptography==3.4.8
docutils==0.17.1
flask==3.0.3
Flask-APScheduler==1.13.1
flask-wtf==1.2.1
idna==3.6
importlib-metadata==8.0.0
itsdangerous==2.2.0
jinja2==3.1.4
jmespath==1.0.1
jsonlines==4.0.0
MarkupSafe==2.1.5
pyasn1==0.4.8
pycparser==2.22
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.31.0
rsa==4.8
s3transfer==0.8.2
six==1.16.0
soupsieve==2.5
tzlocal==5.2
urllib3==2.0.7
waitress==3.0.0
werkzeug==3.0.3
wtforms==3.1.2
zipp==3.19.2
