APScheduler==3.10.4
attrs==23.1.0
Authlib==1.2.1
awscli==1.22.34
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.33.12
botocore==1.33.12
certifi==2023.11.17
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudflare==2.14.2
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.1
docutils==0.17.1
Flask==3.0.0
Flask-APScheduler==1.13.1
Flask-WTF==1.2.1
httplib2==0.20.2
idna==3.6
importlib-metadata==4.6.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jsonlines==4.0.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.3
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
Pillow==9.0.1
pyasn1==0.4.8
Pygments==2.11.2
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.31.0
roman==3.3
rsa==4.8
s3transfer==0.8.2
SecretStorage==3.3.1
six==1.16.0
soupsieve==2.5
systemd-python==234
tzlocal==5.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.7
wadllib==1.3.6
waitress==2.1.2
Werkzeug==3.0.1
WTForms==3.1.1
zipp==1.0.0
