.thintable{
        padding: 5px !important;
	text-align: center;
	font-size: 16px;
}

.newuserinput{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.cm-line{
	font-size: 3px;
}

form {
	display: inline;
}

.CodeMirror {
	font-family: Arial, monospace;
	font-size: 14px;
}

.sortable th {
    cursor: pointer;
}

.sortable th:hover {
    filter: brightness(125%);
}

.navbar {
	background: linear-gradient(45deg,#417585,#355a8b,#38468d,#612f81,#772d6c,#6e2a4b);
	box-shadow: black 0 0 4px 2px;
}
.admin-bar {
/*	background-color: #09c3c0; */
	background: linear-gradient(45deg,#eba5c7,#e5bea2,#ead595,#d0e9a6,#a9ebc2,#a4dced);
	box-shadow: black 0 0 6px 0;
}

.own-row {
	background-color: #abf5ab;
}


pre {
	font-family: "Lucida Console", "Courier New", monospace !important;
}

.badge {
	vertical-align: text-bottom !important;
}

label {
	display: inline !important;
}

.home-box {
	background-color: #9ec5fe !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.home-click {
	color: white !important;
	background-color: #007bff !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.home-click:hover {
	color: white !important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tour-highlight {
	opacity: 0.1 !important;
}
