/* PSA: using !important in css is actually really bad practice, maintainability, etc etc etc. But I'm not going to wrangle my way around Bootstrap for something no one will ever use anyway. */

:root {
	--hue: 27;
	--gradient: linear-gradient(45deg,
	hsl(calc(var(--hue) - 50), 34%, 32%),
	hsl(calc(var(--hue) - 30), 44%, 21%),
	hsl(calc(var(--hue) - 10), 44%, 21%),
	hsl(calc(var(--hue) + 10), 44%, 21%),
	hsl(calc(var(--hue) + 30), 44%, 21%),
	hsl(calc(var(--hue) + 50), 44%, 21%)
	);
	--admin-gradient: linear-gradient(45deg,
	hsl(calc(var(--hue) + 50), 40%, 20%),
	hsl(calc(var(--hue) + 102), 37%, 22%),
	hsl(calc(var(--hue) + 154), 35%, 25%),
	hsl(calc(var(--hue) + 206), 35%, 25%),
	hsl(calc(var(--hue) + 258), 35%, 25%),
	hsl(calc(var(--hue) + 310), 35%, 25%)
	);
	
}

html, body {
	background-color: hsl(var(--hue), 40%, 10%) !important;
	color: #ccc !important;
}

.table {
	color: #ccc !important;
}

.table-hover tbody tr:hover {
	color: #eee !important;
}

.table td, .table th, .nav-tabs, .form-control {
	border-color: hsl(var(--hue), 16%, 22%) !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: inherit !important;
	color: #eee !important;
	border-color: hsl(var(--hue), 16%, 22%) hsl(var(--hue), 16%, 22%) hsl(var(--hue), 16%, 6%) !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: hsl(var(--hue), 19%, 16%) hsl(var(--hue), 19%, 16%) hsl(var(--hue), 16%, 22%) !important;
}

.card {
	background-color: hsl(var(--hue), 26%, 5%) !important;
	color: #eee !important;
}

input {
	background-color: hsl(var(--hue), 8%, 25%) !important;
	color: #ccc !important;
	border-color: #000 !important;
}

textarea {
	background-color: hsl(var(--hue), 8%, 25%) !important;
	color: #ccc !important;
	border-color: #000 !important;
}

input.btn-primary {
	background-color: hsl(var(--hue), 44%, 21%) !important;
	color: #ffffff !important;
}

button.btn-secondary {
	background-color: hsl(var(--hue), 8%, 25%) !important;
	color: #ccc !important;
	border-color: #000 !important;
}
.input-group-text{
	background-color: hsl(var(--hue), 13%, 15%) !important;
	color: #ccc !important;
	border-color: hsl(var(--hue), 13%, 25%) !important;
}
select {
	background-color: hsl(var(--hue), 8%, 25%) !important;
	color: #ccc !important;
}

a:not(.btn) {
	color: hsl(var(--hue), 100%, 78%);
}
a:not(.btn):hover {
	color: hsl(var(--hue), 100%, 90%);
}

.navbar {
	background: var(--gradient);
	box-shadow: black 0 0 4px 2px;
}

.navbar a {
	color: rgba(255,255,255,.5) !important;
}
.navbar a:hover {
        color: rgba(255,255,255,.8) !important;
}

.dropdown-menu {
	background-color: hsl(var(--hue), 16%, 9%) !important;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: hsl(var(--hue), 16%, 6%) !important;
}

.page-link {
	background-color: inherit !important;
	border-color: hsl(var(--hue), 16%, 22%) !important;
}
.page-item.active .page-link {
	background-color: hsl(var(--hue), 100%, 50%) !important;
	color: inherit !important;
}

.nav-pills .nav-item .active {
	color: white !important;
}

.bg-white {
	background-color: hsl(var(--hue), 16%, 9%) !important;
}

iframe {
	border: none;
}

.admin-bar {
	background: var(--admin-gradient);
	box-shadow: black 0 0 4px 2px;
	/* I'm joking, please don't revoke my judge perms aaah */
}

.own-row {
        background-color: #0c330c;
}
.table-hover tbody tr.own-row:hover {
	background-color: #0a2b0a;
}

.autocomplete-items {
        border-color: hsl(var(--hue), 16%, 22%) !important;
}
.autocomplete-items div {
	background-color: hsl(var(--hue), 16%, 9%) !important;
	border-color: hsl(var(--hue), 16%, 22%) !important;
}
.autocomplete-items div:hover {
	background-color: hsl(var(--hue), 16%, 6%) !important;
}

pre {
	color: #bbb;
}

.alert-success {
	color: rgb(153, 230, 171);
	background-color: rgb(26, 62, 41);
	border-color: rgb(37, 90, 50);
}
.alert-info {
	color: rgb(142, 227, 241);
	background-color: rgb(20, 59, 67);
	border-color: rgb(30, 89, 97);
}
.alert-warning {
	color: rgb(251, 215, 112);
	background-color: rgb(81, 62, 0);
	border-color: rgb(123, 92, 0);
}
.alert-danger {
	color: rgb(225, 134, 143);
	background-color: rgb(67, 12, 17);
	border-color: rgb(104, 18, 27);
}

.btn-secondary {
        background-color: #1d212f;
        border-color: #212b33;
}
.btn-outline-secondary {
        border-color: #ccc !important;
        color: #ccc !important;
}

hr {
	background-color: white !important;
}

.home-box {
	background-color: hsl(var(--hue), 26%, 5%) !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.home-click {
	color: white !important;
	background-color: hsl(var(--hue), 44%, 21%) !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.home-click:hover {
	color: white !important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.popover {
        background-color: hsl(var(--hue), 40%, 15%) !important;
        color: white !important;
}
.popover-header {
        background-color: hsl(var(--hue), 40%, 25%) !important;
        color: white !important;
}
.popover-body {
	color: white !important;
}
.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: hsl(var(--hue), 40%, 15%) !important;
}
.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: hsl(var(--hue), 40%, 25%) !important;
}
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: hsl(var(--hue), 40%, 15%) !important;
}
.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: hsl(var(--hue), 40%, 15%) !important;
}

