:root {
	--hue: 27;
	--gradient: linear-gradient(45deg,
		hsl(calc(var(--hue) - 12), 60%, 39%),
		hsl(calc(var(--hue) - 6), 60%, 39%),
		hsl(calc(var(--hue)), 60%, 39%),
		hsl(calc(var(--hue) + 6), 60%, 39%),
		hsl(calc(var(--hue) + 12), 60%, 39%)
	);
	--admin-gradient: linear-gradient(135deg,
		hsl(calc(var(--hue) - 12), 60%, 70%),
		hsl(calc(var(--hue) - 6), 60%, 70%),
		hsl(calc(var(--hue)), 60%, 70%),
		hsl(calc(var(--hue) + 6), 60%, 70%),
		hsl(calc(var(--hue) + 12), 60%, 70%)
	);
}

html, body {
	background-color: hsl(var(--hue), 50%, 89%) !important;
}

.sortable th:hover {
	background-color: hsl(var(--hue), 13%, 33%) !important;
	filter: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: inherit !important;
	border-color: hsl(var(--hue), 42%, 72%) hsl(var(--hue), 42%, 72%) hsl(var(--hue), 50%, 89%) !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: hsl(var(--hue), 50%, 80%) hsl(var(--hue), 50%, 80%) hsl(var(--hue), 42%, 72%) !important;
}


.table td, .table th, .nav-tabs, .form-control {
        border-color: hsl(var(--hue), 42%, 72%) !important;
}

.card {
	background-color: hsl(var(--hue), 50%, 97%) !important;
}

input {
	background-color: hsl(var(--hue), 50%, 97%) !important;
	color: #212529 !important;
}

textarea {
	background-color: hsl(var(--hue), 50%, 97%) !important;
	color: #212529 !important;
}

input.btn-primary {
	background-color: hsl(var(--hue), 44%, 43%) !important;
	color: white !important;
	border-color: hsl(var(--hue), 48%, 30%) !important;
}

button.btn-secondary {
	background-color: hsl(var(--hue), 63%, 59%) !important;
	color: white !important;
}

select {
	background-color: #fff8f2 !important;
	color: #212529 !important;
}

.navbar {
	background: var(--gradient);
	box-shadow: black 0 0 4px 2px;
}
.admin-bar {
	background: var(--admin-gradient);
	box-shadow: black 0 0 6px 0;
}

.dropdown-menu {
	background-color: hsl(var(--hue), 50%, 97%) !important;
}
.dropdown-item:focus, .dropdown-item:hover {
	background-color: hsl(var(--hue), 31%, 85%) !important;
}

.bg-white {
	background-color: hsl(var(--hue), 50%, 97%) !important;
}

.autocomplete-items {
    border-color: hsl(var(--hue), 31%, 85%) !important;
}
.autocomplete-items div {
	background-color: hsl(var(--hue), 50%, 97%) !important;
	border-color: hsl(var(--hue), 31%, 85%) !important;
}
.autocomplete-items div:hover {
	background-color: hsl(var(--hue), 31%, 85%) !important;
}

a:not(.btn) {
        color: hsl(var(--hue), 72%, 43%);
}
a:not(.btn):hover {
        color: hsl(var(--hue), 50%, 68%);
}

.navbar-dark a.nav-link {
        color: rgba(255,255,255,.5) !important;
}
.navbar-dark a.nav-link:hover {
        color: rgba(255,255,255,.8) !important;
}

.navbar-light a.nav-link, navbar-light a.nav-brand {
	color: hsl(var(--hue), 50%, 23%) !important;
}
.navbar-light a:hover, navbar-light a.nav-brand:hover{
	color: hsl(var(--hue), 72%, 43%) !important;
}

.btn-secondary {
	color: white !important;
	background-color: hsl(var(--hue), 63%, 59%) !important;
	border-color: hsl(var(--hue), 63%, 59%) !important;
}

.nav-link.active, .page-item.active .page-link {
	background-color: hsl(var(--hue), 72%, 43%) !important;
	border-color: hsl(var(--hue), 72%, 43%) !important;
	color: hsl(var(--hue), 50%, 23%) !important;
}

.nav-pills .nav-item .active, .page-item.active .page-link {
	color: white !important;
}

.home-box {
	background-color: hsl(var(--hue), 50%, 97%) !important;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.home-click {
	color: white !important;
	background-color: hsl(var(--hue), 44%, 43%) !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.home-click:hover {
	color: white !important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.scoreboard-ac {
	color: #155724;
	background-color: #d4edda;
}
.scoreboard-partial {
	color: #856404;
	background-color: #fff3cd;
}
.scoreboard-wa {
	color: #721c24;
	background-color: #f8d7da;
}
