{% extends "admin_base.html" %}
{% block title %} Admin {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<br>

<div class="container">
	<h1>Welcome to Codebreaker admin!</h1>

	<br></br>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/mTrbiuUjnfI" title="Problem Upload" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>

	<script src="{{ url_for('static', filename='js/newuser_tour.js') }}"></script>
</div>

{% endblock %}
