<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">	
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-tour.min.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-tour.min.js') }}"></script>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/clike/clike.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
		
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js'></script>
		<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
		
		{%if userinfo.theme != 'light'%}
		<link href="/static/css/themes/{{userinfo.theme}}.css" rel="stylesheet">
		{%endif%}
		{%if 'custom' in userinfo.theme %}
			<script>document.querySelector(':root').style.setProperty('--hue',{{userinfo.hue}})</script>
		{%endif%}
		{% if socket %}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
		<script type="text/javascript">
			var socket=io.connect('https://' + window.location.host);
			$(document).ready(function(){
				socket.emit('online', {'username':'{{userinfo.username}}','role':'{{userinfo.role}}'});
				socket.on('message',function(msg){
					if(msg=='newclarification'){
						var badge=document.getElementById('clarification_badge');
						if(badge!=null){
							badge.hidden=false;
							alert("New clarification!");
						}
					}
					else{
						var badge=document.getElementById('home_badge');
						if(badge!=null){
							badge.hidden=false;
							if(msg.includes("announce")){alert("New announcement!");}
							else{alert("Your clarification has been answered!");}
						}
					}
				});
			});
		</script>
		{% endif %}
	{% endblock %}
</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light sticky top admin-bar">
			
			<a class="navbar-brand" href="/admin">Admin</a>
			
			<!-- Links -->
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/admin/editannouncements">Announcements</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/editproblems">Problems</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/editcontests">Contests</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/editclarifications">Clarifications
						<span id="clarification_badge" class="badge badge-secondary badge-danger" hidden="true">!</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/editusers">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Home
					<span id="home_badge" class="badge badge-secondary badge-danger" hidden="true">!</span>
					</a>
				</li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>

