{% extends "admin_base.html" %}
{% block title %} Admin {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% block content %}

<br>

<div class="container">
	<h1>Welcome to Codebreaker admin!</h1>

	<br></br>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/mTrbiuUjnfI" title="Problem Upload" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>

	<button class="btn btn-secondary" id="tour-btn">Start Tour</button>
	<script src="{{ url_for('static', filename='js/newuser_tour.js') }}"></script>
	<script>
		let btn = document.getElementById("tour-btn");

		// Instance the tour
		var tour = new Tour({
			steps: [
			{
			path: "/",
			element: "#recently-uploaded-text",
			title: "Title of my step",
			content: "Content of my step"
			},
			{
			path: "/",
			element: "#new-user-box",
			title: "Title of my next step",
			content: "Content of my next step"
			},
			{
			path: "/problems",
			element: "#myTable",
			title: "testing the different page tour",
			content: "Content of my next step"
			}],
			animation: true,
			smartPlacement: true
		});
		
		btn.addEventListener('click', event => {
			// Initialize the tour
			tour.init();
			console.log("hello");
			// Start the tour
			tour.start();
			console.log("hello");
		});
	</script>
</div>

{% endblock %}
