{% extends "base.html" %}
{% block title %} Begin Contest {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
<br>

<div class = "container">
	
	<h1> {{contestinfo.contestName}} </h1>
	<p style="white-space:pre-wrap;">{{contestinfo.description}}</p>

	<p hidden id="starttime"> {{startTime}} </p>

	<form id = "newuserform" action = "" method = "post" class="form-group">
		{{form.submit(type="submit", class="btn btn-primary w-100", id="submit")}}
	</form>
	
	{% if userinfo.role in ['admin', 'superadmin', 'cmanager'] %}
		<b> <a href={{url_for("scoreboard", contestId = contestinfo.contestId)}}> To Contest Scoreboard </a> </b>
		<b class="ml-2"> <a href="/admin/editcontest/{{contestinfo.contestId}}">Edit Contest</a> </b>
		<br><br>
	{% endif %}

	<script>
		var endTime = document.getElementById("starttime").innerHTML
                var countDownDate = new Date(endTime).getTime();
			
		function update(){
			var d = new Date();
		
			// Offsetting into SG time
			var utc = d.getTime() + (d.getTimezoneOffset() * 60000);
			var nd = new Date(utc + 3600000 * 8);

			var distance = countDownDate - nd;
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			
			str = "Time to Begin: "
			if(days != 0) str += days + "d ";
			if(hours != 0) str += hours + "h ";
			if(minutes != 0) str += minutes + "m ";
			if(seconds != 0) str += seconds + "s ";
			document.getElementById("submit").value = str;
			document.getElementById("submit").disabled = true;
			if (distance < 0) {
				clearInterval(x);
				var tmp = document.getElementsByClassName("usernameField")
				if (tmp.length === 0){
					document.getElementById("submit").value = "Please login to begin contest";
				}else{
					document.getElementById("submit").value = "Begin Contest";
					document.getElementById("submit").disabled = false;
				}
			}
		}
		update()
		
		var x = setInterval(update , 1000);
	</script>
</div>
{% endblock %}


