{% extends "base.html" %}
{% block title %} Home {% endblock %} <!-- Title goes here -->
{% block head %} {{ super() }} {% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}

<div class="container col">
    	<br>
	<h1 style="text-align:center;">Welcome to Codebreaker!</h1>
    <button class="btn btn-secondary navbar" style="width:100%;display:flex;justify-content:center;align-items:center;" onclick="donate()">
        Codebreaker runs on donations from the community. Click here to contribute!
    <script>
        function donate() {
            window.location.href = "https://forms.gle/wKN7wJs6CeXqzDXm8";
        }
    </script>
    </button>
	<div class="row">
        <div class="col" style="padding: 20px;">
           <div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
                <div class="card-header bg-white" data-toggle="collapse" data-target="#futurecontests"><b>Ongoing and Future Contests</b></div>
                <div id="futurecontests" class="collapse show">
		        <div class="card-body" style="height: auto;">
                        <div id='calendar' data-toggle="tooltip" data-html="true"></div>
                        <script>

                            document.addEventListener('DOMContentLoaded', function() {
                                var calendarEl = document.getElementById('calendar');
                                var calendar = new FullCalendar.Calendar(calendarEl, {
                                    initialView: 'dayGridMonth',
				    eventClick: function(info){
					info.jsEvent.preventDefault();
					if(info.event.url){
					    window.open(info.event.url);
					}
				    },
				    eventDidMount: function(info){
					var tooltip = new bootstrap.Tooltip(info.el, {
					    title: `<b>${info.event.title}</b> <br> ${info.event.start} to ${info.event.end}`,
					    html: true
					});
				    }
                                });
                                var contestInfos = JSON.parse('{{contestInfos | tojson}}')
                                calendar.render();
                                for (const info of contestInfos) {
                                    calendar.addEvent({
                                        title: info.contestName,
                                        start: info.startTime,
                                        end: info.endTime,
					url: "/contest/" + info.contestId
                                    });
                                }
                            });
                      
                          </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
            {% if userinfo != None %}
            <div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
                <div class="card-header bg-white" data-toggle="collapse" data-target="#piechart"><b>Your Progress</b></div>
                <div id="piechart" class="collapse show">
                    <div class="card-body">
                        <canvas id="chart" style="width: 100%; height: auto; margin: auto;"></canvas>
                        <script>
                            var ac = 0;
                            var partial = 0;
                            var failed = 0;
                            var total = JSON.parse('{{statistics["problems"]}}');

                            var problemScores = JSON.parse('{{userinfo.problemScores | tojson}}');

                            for (const problem in problemScores) {
                                score = problemScores[problem]
                                if (score == 100) {
                                    ac++;
                                } else if (score == 0) {
                                    failed++;
                                } else {
                                    partial++;
                                }
                            }
                        
                            var pieData = [ { value: ac, label: "Accepted", color: "#72E58D" },
                                            { value: partial, label: "Partial", color: "#F9D87C" },
                                            { value: failed, label: "Failed", color: "#E0868F" },
                                            { value: total - ac - partial - failed, label: "Unattempted", color: "#7F7F7F" }
                            ];

                            // draw pie chart
                            new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
                        </script>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}

            <div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
                <div class="card-header bg-white" data-toggle="collapse" data-target="#globalsubs"><b>All Recent Submissions</b></div>
                <div id="globalsubs" class="collapse show">
                    <div class="card-body">
                        <table class="table table-striped table-sm" id="myTable">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Problem</th>
                                <th scope="col">Score</th>
				<th scope="col">Language</th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            {% for sub in globalSubmissionList %}
                                <tr>
                                    {% if sub != None %}
                                    <td> <a href="{{url_for('submission', subId = sub.subId)}}">{{sub.subId}}</a> </td>
				    <td> <a href="{{url_for('profile', username = sub.username)}}"> {{sub.username}} </a> </td>
                                    {% if sub.problemName %}
                            	    <td> <a href="{{url_for('problem', PROBLEM_NAME = sub.problemName)}}"> {{sub.problemName}} </a> </td>
                                    {% else %}
                                    <td> Hidden </td>
                                    {% endif %}
                                    <td> <p style="margin: -1px">
                                    <span style = "width: 42px" 
                                    class="pb-1 text-white badge badge-{{'success' if sub.totalScore==100 else ('danger' if sub.totalScore == 0 else 'warning')}}"> {{sub.totalScore}}
                                    </span> </p>
                                    </td>
                                    {% endif %}
				    <td> {{sub.language}} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if userinfo != None %}
            <br>
            <div class="card text-left" style="margin-bottom: -1px; margin-right: 12px;">
                <div class="card-header bg-white" data-toggle="collapse" data-target="#usersubs"><b>Your Recent Submissions</b></div>
                <div id="usersubs" class="collapse show">
                    <div class="card-body">
                        <table class="table table-striped table-sm" id="myTable">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Problem</th>
                                <th scope="col">Score</th>
				<th scope="col">Language</th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            {% for sub in userSubmissionList %}
                                <tr>
                                    {% if sub != None %}
                                    <td> <a href="{{url_for('submission', subId = sub.subId)}}">{{sub.subId}}</a> </td>
                                    {% if sub.problemName %}
                                    <td> <a href="{{url_for('problem', PROBLEM_NAME = sub.problemName)}}"> {{sub.problemName}} </a> </td>
                                    {% else %}
                                    <td> Hidden </td>
                                    {% endif %}
                                    <td> <p style="margin: -1px">
                                    <span style = "width: 42px" 
                                    class="pb-1 text-white badge badge-{{'success' if sub.totalScore==100 else ('danger' if sub.totalScore == 0 else 'warning')}}"> {{sub.totalScore}}
                                    </span> </p>
                                    </td>
                                    {% endif %}
				    <td> {{sub.language}} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
	</div>
</div>

{% endblock %}



